.profile{
    background: #7878781c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    text-align: center;
    min-height: 75vh;
    border-radius: 10px;

}

.profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    outline: 2px solid #b1afaf;
    outline-offset: 5px;
}

.profile h1{
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #333;
}
.profile p{
    font-size: 1rem;
    background: #f6f7f79c;
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    text-transform: capitalize;
    box-shadow: 0 0 2px 0 #eae8e84d;
    line-height: 25px;
    color: #333;
}